In [1]:
import pandas as pd 
from IPython.display import HTML

In [2]:

csv_path = "Resources/city.csv"

cities_df = pd.read_csv(csv_path)
cities_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,0,burlatskoye,RU,1612079537,45.0564,43.6350,4.03,83,100,4.23
1,1,saint-philippe,RE,1612079537,-21.3585,55.7679,32.00,58,0,11.83
2,2,busselton,AU,1612079537,-33.6500,115.3333,33.33,43,0,4.02
3,3,karratha,AU,1612079537,-20.7377,116.8463,31.90,58,100,9.21
4,4,balaipungut,ID,1612079538,1.0500,101.2833,30.00,58,40,0.45

In [3]:
cities_df = cities_df.drop(["Unnamed: 0"], axis=1)
cities_df

,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,burlatskoye,RU,1612079537,45.0564,43.6350,4.03,83,100,4.23
1,saint-philippe,RE,1612079537,-21.3585,55.7679,32.00,58,0,11.83
2,busselton,AU,1612079537,-33.6500,115.3333,33.33,43,0,4.02
3,karratha,AU,1612079537,-20.7377,116.8463,31.90,58,100,9.21
4,balaipungut,ID,1612079538,1.0500,101.2833,30.00,58,40,0.45
...,...,...,...,...,...,...,...,...,...
516,zyryanka,RU,1612079618,65.7500,150.8500,-32.76,84,100,7.51
517,vestmannaeyjar,IS,1612079618,63.4427,-20.2734,-0.75,92,100,7.51
518,cheremukhovo,RU,1612079618,60.3484,59.9851,-18.85,91,97,1.16
519,prieska,ZA,1612079618,-29.6641,22.7474,29.33,13,0,2.59
520,fria,GN,1612079618,10.4167,-13.5833,19.32,80,100,0.84

In [4]:

cities_df  = cities_df.set_index("City")
cities_df

,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
City,,,,,,,,
burlatskoye,RU,1612079537,45.0564,43.6350,4.03,83,100,4.23
saint-philippe,RE,1612079537,-21.3585,55.7679,32.00,58,0,11.83
busselton,AU,1612079537,-33.6500,115.3333,33.33,43,0,4.02
karratha,AU,1612079537,-20.7377,116.8463,31.90,58,100,9.21
balaipungut,ID,1612079538,1.0500,101.2833,30.00,58,40,0.45
...,...,...,...,...,...,...,...,...
zyryanka,RU,1612079618,65.7500,150.8500,-32.76,84,100,7.51
vestmannaeyjar,IS,1612079618,63.4427,-20.2734,-0.75,92,100,7.51
cheremukhovo,RU,1612079618,60.3484,59.9851,-18.85,91,97,1.16
prieska,ZA,1612079618,-29.6641,22.7474,29.33,13,0,2.59
fria,GN,1612079618,10.4167,-13.5833,19.32,80,100,0.84

In [5]:
#convert to html file
html = cities_df.to_html()
print(html)

el</th>
      <td>CA</td>
      <td>1612079604</td>
      <td>52.9999</td>
      <td>-122.5029</td>
      <td>-8.00</td>
      <td>93</td>
      <td>20</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th>sao jose da coroa grande</th>
      <td>BR</td>
      <td>1612079604</td>
      <td>-8.8978</td>
      <td>-35.1478</td>
      <td>24.85</td>
      <td>81</td>
      <td>89</td>
      <td>2.63</td>
    </tr>
    <tr>
      <th>rongcheng</th>
      <td>CN</td>
      <td>1612079604</td>
      <td>30.6340</td>
      <td>117.8517</td>
      <td>10.38</td>
      <td>74</td>
      <td>100</td>
      <td>1.17</td>
    </tr>
    <tr>
      <th>basco</th>
      <td>PH</td>
      <td>1612079604</td>
      <td>20.4487</td>
      <td>121.9702</td>
      <td>21.23</td>
      <td>70</td>
      <td>100</td>
      <td>11.74</td>
    </tr>
    <tr>
      <th>caetite</th>
      <td>BR</td>
      <td>1612079604</td>
      <td>-14.0694</td>
      <td>-42.4750</td>
      <td>17.14</td>
      <td>96</td>
      <td>28</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>arman</th>
      <td>RU</td>
      <td>1612079604</td>
      <td>59.7000</td>
      <td>150.1667</td>
      <td>-26.35</td>
      <td>76</td>
      <td>6</td>
      <td>7.22</td>
    </tr>
    <tr>
      <th>bilma</th>
      <td>NE</td>
      <td>1612079604</td>
      <td>18.6853</td>
      <td>12.9164</td>
      <td>20.20</td>
      <td>21</td>
      <td>0</td>
      <td>2.47</td>
    </tr>
    <tr>
      <th>palmer</th>
      <td>US</td>
      <td>1612079605</td>
      <td>42.1584</td>
      <td>-72.3287</td>
      <td>-14.00</td>
      <td>66</td>
      <td>1</td>
      <td>2.57</td>
    </tr>
    <tr>
      <th>tsabong</th>
      <td>BW</td>
      <td>1612079605</td>
      <td>-26.0217</td>
      <td>22.4010</td>
      <td>29.36</td>
      <td>42</td>
      <td>0</td>
      <td>3.05</td>
    </tr>
    <tr>
      <th>morondava</th>
      <td>MG</td>
      <td>1612079397</td>
      <td>-20.2833</td>
      <td>44.2833</td>
      <td>29.98</td>
      <td>63</td>
      <td>0</td>
      <td>1.79</td>
    </tr>
    <tr>
      <th>rio gallegos</th>
      <td>AR</td>
      <td>1612079605</td>
      <td>-51.6226</td>
      <td>-69.2181</td>
      <td>7.00</td>
      <td>70</td>
      <td>0</td>
      <td>3.60</td>
    </tr>
    <tr>
      <th>san felipe</th>
      <td>VE</td>
      <td>1612079595</td>
      <td>10.3399</td>
      <td>-68.7425</td>
      <td>20.97</td>
      <td>89</td>
      <td>96</td>
      <td>1.64</td>
    </tr>
    <tr>
      <th>bauchi</th>
      <td>NG</td>
      <td>1612079505</td>
      <td>10.5000</td>
      <td>10.0000</td>
      <td>22.50</td>
      <td>21</td>
      <td>0</td>
      <td>2.48</td>
    </tr>
    <tr>
      <th>tazovskiy</th>
      <td>RU</td>
      <td>1612079605</td>
      <td>67.4667</td>
      <td>78.7000</td>
      <td>-28.89</td>
      <td>87</td>
      <td>100</td>
      <td>8.74</td>
    </tr>
    <tr>
      <th>syracuse</th>
      <td>IT</td>
      <td>1612079606</td>
      <td>37.0881</td>
      <td>15.2792</td>
      <td>13.89</td>
      <td>87</td>
      <td>40</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th>guane</th>
      <td>CU</td>
      <td>1612079606</td>
      <td>22.2025</td>
      <td>-84.0875</td>
      <td>17.79</td>
      <td>87</td>
      <td>92</td>
      <td>3.42</td>
    </tr>
    <tr>
      <th>dhidhdhoo</th>
      <td>MV</td>
      <td>1612079606</td>
      <td>6.8833</td>
      <td>73.1000</td>
      <td>27.87</td>
      <td>69</td>
      <td>0</td>
      <td>3.64</td>
    </tr>
    <tr>
      <th>chapais</th>
      <td>CA</td>
      <td>1612079607</td>
      <td>49.7834</td>
      <td>-74.8492</td>
      <td>-22.00</td>
      <td>92</td>
      <td>90</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th>inhambane</th>
      <td>MZ</td>
      <td>1612079607</td>
      <td>-23.8650</td>
      <td>35.3833</td>
      <td>31.00</td>
      <td>66</td>
      <td>40</td>
      <td>4.12</td>
    </tr>
    <tr>
      <th>fernie</th>
      <td>CA</td>
      <td>1612079607</td>
      <td>49.5000</td>
      <td>-115.0687</td>
      <td>-1.00</td>
      <td>86</td>
      <td>100</td>
      <td>3.09</td>
    </tr>
    <tr>
      <th>te anau</th>
      <td>NZ</td>
      <td>1612079420</td>
      <td>-45.4167</td>
      <td>167.7167</td>
      <td>12.42</td>
      <td>80</td>
      <td>100</td>
      <td>2.31</td>
    </tr>
    <tr>
      <th>flinders</th>
      <td>AU</td>
      <td>1612079607</td>
      <td>-34.5833</td>
      <td>150.8552</td>
      <td>22.78</td>
      <td>81</td>
      <td>79</td>
      <td>0.89</td>
    </tr>
    <tr>
      <th>ahuimanu</th>
      <td>US</td>
      <td>1612079607</td>
      <td>21.4447</td>
      <td>-157.8378</td>
      <td>23.00</td>
      <td>68</td>
      <td>20</td>
      <td>6.17</td>
    </tr>
    <tr>
      <th>vaitape</th>
      <td>PF</td>
      <td>1612079607</td>
      <td>-16.5167</td>
      <td>-151.7500</td>
      <td>27.87</td>
      <td>72</td>
      <td>100</td>
      <td>5.49</td>
    </tr>
    <tr>
      <th>almeirim</th>
      <td>BR</td>
      <td>1612079364</td>
      <td>-1.5233</td>
      <td>-52.5817</td>
      <td>21.78</td>
      <td>97</td>
      <td>37</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th>paciran</th>
      <td>ID</td>
      <td>1612079396</td>
      <td>-6.8767</td>
      <td>112.3761</td>
      <td>28.80</td>
      <td>77</td>
      <td>87</td>
      <td>8.10</td>
    </tr>
    <tr>
      <th>vilhena</th>
      <td>BR</td>
      <td>1612079363</td>
      <td>-12.7406</td>
      <td>-60.1458</td>
      <td>20.25</td>
      <td>97</td>
      <td>100</td>
      <td>1.92</td>
    </tr>
    <tr>
      <th>dryden</th>
      <td>CA</td>
      <td>1612079608</td>
      <td>49.7833</td>
      <td>-92.7503</td>
      <td>-5.00</td>
      <td>93</td>
      <td>90</td>
      <td>3.60</td>
    </tr>
    <tr>
      <th>fethiye</th>
      <td>TR</td>
      <td>1612079366</td>
      <td>36.6217</td>
      <td>29.1164</td>
      <td>10.00</td>
      <td>87</td>
      <td>0</td>
      <td>3.60</td>
    </tr>
    <tr>
      <th>shenjiamen</th>
      <td>CN</td>
      <td>1612079367</td>
      <td>29.9576</td>
      <td>122.2980</td>
      <td>12.82</td>
      <td>81</td>
      <td>74</td>
      <td>6.76</td>
    </tr>
    <tr>
      <th>florianopolis</th>
      <td>BR</td>
      <td>1612079608</td>
      <td>-27.6146</td>
      <td>-48.5012</td>
      <td>26.00</td>
      <td>89</td>
      <td>0</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th>pristen</th>
      <td>RU</td>
      <td>1612079608</td>
      <td>51.2355</td>
      <td>36.6959</td>
      <td>1.00</td>
      <td>100</td>
      <td>90</td>
      <td>7.00</td>
    </tr>
    <tr>
      <th>vanimo</th>
      <td>PG</td>
      <td>1612079609</td>
      <td>-2.6741</td>
      <td>141.3028</td>
      <td>27.94</td>
      <td>75</td>
      <td>47</td>
      <td>5.34</td>
    </tr>
    <tr>
      <th>igrim</th>
      <td>RU</td>
      <td>1612079609</td>
      <td>63.1906</td>
      <td>64.4162</td>
      <td>-20.51</td>
      <td>90</td>
      <td>100</td>
      <td>0.81</td>
    </tr>
    <tr>
      <th>flin flon</th>
      <td>CA</td>
      <td>1612079609</td>
      <td>54.7682</td>
      <td>-101.8650</td>
      <td>-17.34</td>
      <td>93</td>
      <td>45</td>
      <td>1.49</td>
    </tr>
    <tr>
      <th>vidalia</th>
      <td>US</td>
      <td>1612079609</td>
      <td>32.2177</td>
      <td>-82.4135</td>
      <td>10.00</td>
      <td>76</td>
      <td>90</td>
      <td>2.94</td>
    </tr>
    <tr>
      <th>xuddur</th>
      <td>SO</td>
      <td>1612079609</td>
      <td>4.1213</td>
      <td>43.8894</td>
      <td>29.35</td>
      <td>29</td>
      <td>0</td>
      <td>8.21</td>
    </tr>
    <tr>
      <th>aasiaat</th>
      <td>GL</td>
      <td>1612079609</td>
      <td>68.7098</td>
      <td>-52.8699</td>
      <td>-19.51</td>
      <td>91</td>
      <td>87</td>
      <td>2.71</td>
    </tr>
    <tr>
      <th>iralaya</th>
      <td>HN</td>
      <td>1612079609</td>
      <td>15.0000</td>
      <td>-83.2333</td>
      <td>24.55</td>
      <td>83</td>
      <td>21</td>
      <td>3.75</td>
    </tr>
    <tr>
      <th>de-kastri</th>
      <td>RU</td>
      <td>1612079610</td>
      <td>51.4667</td>
      <td>140.7833</td>
      <td>-20.35</td>
      <td>86</td>
      <td>100</td>
      <td>2.03</td>
    </tr>
    <tr>
      <th>manokwari</th>
      <td>ID</td>
      <td>1612079323</td>
      <td>-0.8667</td>
      <td>134.0833</td>
      <td>26.47</td>
      <td>81</td>
      <td>100</td>
      <td>6.15</td>
    </tr>
    <tr>
      <th>asau</th>
      <td>RO</td>
      <td>1612079610</td>
      <td>46.4333</td>
      <td>26.4000</td>
      <td>0.00</td>
      <td>74</td>
      <td>75</td>
      <td>4.63</td>
    </tr>
    <tr>
      <th>villazon</th>
      <td>BO</td>
      <td>1612079352</td>
      <td>-22.0866</td>
      <td>-65.5942</td>
      <td>10.73</td>
      <td>74</td>
      <td>0</td>
      <td>1.78</td>
    </tr>
    <tr>
      <th>atar</th>
      <td>MR</td>
      <td>1612079388</td>
      <td>20.5169</td>
      <td>-13.0499</td>
      <td>17.69</td>
      <td>27</td>
      <td>8</td>
      <td>3.67</td>
    </tr>
    <tr>
      <th>kununurra</th>
      <td>AU</td>
      <td>1612079610</td>
      <td>-15.7667</td>
      <td>128.7333</td>
      <td>28.00</td>
      <td>94</td>
      <td>75</td>
      <td>5.66</td>
    </tr>
    <tr>
      <th>amuntai</th>
      <td>ID</td>
      <td>1612079396</td>
      <td>-2.4177</td>
      <td>115.2494</td>
      <td>31.57</td>
      <td>62</td>
      <td>99</td>
      <td>1.01</td>
    </tr>
    <tr>
      <th>khuzhir</th>
      <td>RU</td>
      <td>1612079611</td>
      <td>53.1939</td>
      <td>107.3397</td>
      <td>-24.80</td>
      <td>77</td>
      <td>13</td>
      <td>4.00</td>
    </tr>
    <tr>
      <th>maniitsoq</th>
      <td>GL</td>
      <td>1612079611</td>
      <td>65.4167</td>
      <td>-52.9000</td>
      <td>-12.19</td>
      <td>75</td>
      <td>0</td>
      <td>2.68</td>
    </tr>
    <tr>
      <th>mongagua</th>
      <td>BR</td>
      <td>1612079361</td>
      <td>-24.0931</td>
      <td>-46.6208</td>
      <td>28.33</td>
      <td>78</td>
      <td>100</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th>palu</th>
      <td>ID</td>
      <td>1612079611</td>
      <td>-0.8917</td>
      <td>119.8707</td>
      <td>28.52</td>
      <td>67</td>
      <td>100</td>
      <td>2.03</td>
    </tr>
    <tr>
      <th>bella union</th>
      <td>UY</td>
      <td>1612079611</td>
      <td>-30.2752</td>
      <td>-57.6007</td>
      <td>19.83</td>
      <td>93</td>
      <td>23</td>
      <td>4.72</td>
    </tr>
    <tr>
      <th>buluang</th>
      <td>PH</td>
      <td>1612079611</td>
      <td>13.3068</td>
      <td>123.3425</td>
      <td>27.19</td>
      <td>67</td>
      <td>24</td>
      <td>3.83</td>
    </tr>
    <tr>
      <th>mukhen</th>
      <td>RU</td>
      <td>1612079612</td>
      <td>48.1000</td>
      <td>136.1000</td>
      <td>-23.55</td>
      <td>85</td>
      <td>27</td>
      <td>2.78</td>
    </tr>
    <tr>
      <th>comonfort</th>
      <td>MX</td>
      <td>1612079391</td>
      <td>20.7167</td>
      <td>-100.7667</td>
      <td>13.33</td>
      <td>53</td>
      <td>1</td>
      <td>0.17</td>
    </tr>
    <tr>
      <th>huarmey</th>
      <td>PE</td>
      <td>1612079613</td>
      <td>-10.0681</td>
      <td>-78.1522</td>
      <td>21.43</td>
      <td>75</td>
      <td>90</td>
      <td>4.15</td>
    </tr>
    <tr>
      <th>pokaran</th>
      <td>IN</td>
      <td>1612079613</td>
      <td>26.9167</td>
      <td>71.9167</td>
      <td>26.74</td>
      <td>12</td>
      <td>0</td>
      <td>3.15</td>
    </tr>
    <tr>
      <th>sur</th>
      <td>OM</td>
      <td>1612079389</td>
      <td>22.5667</td>
      <td>59.5289</td>
      <td>24.90</td>
      <td>40</td>
      <td>0</td>
      <td>2.97</td>
    </tr>
    <tr>
      <th>nueva gorgona</th>
      <td>PA</td>
      <td>1612079613</td>
      <td>8.5500</td>
      <td>-79.8667</td>
      <td>26.67</td>
      <td>98</td>
      <td>100</td>
      <td>7.02</td>
    </tr>
    <tr>
      <th>sechura</th>
      <td>PE</td>
      <td>1612079397</td>
      <td>-5.5569</td>
      <td>-80.8222</td>
      <td>24.10</td>
      <td>65</td>
      <td>28</td>
      <td>4.39</td>
    </tr>
    <tr>
      <th>cayenne</th>
      <td>GF</td>
      <td>1612079561</td>
      <td>4.9333</td>
      <td>-52.3333</td>
      <td>26.00</td>
      <td>89</td>
      <td>75</td>
      <td>3.60</td>
    </tr>
    <tr>
      <th>zhetysay</th>
      <td>KZ</td>
      <td>1612079614</td>
      <td>40.7333</td>
      <td>68.3000</td>
      <td>14.90</td>
      <td>30</td>
      <td>97</td>
      <td>6.91</td>
    </tr>
    <tr>
      <th>phonhong</th>
      <td>LA</td>
      <td>1612079614</td>
      <td>18.5007</td>
      <td>102.4166</td>
      <td>29.00</td>
      <td>42</td>
      <td>20</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th>san policarpo</th>
      <td>PH</td>
      <td>1612079614</td>
      <td>12.1791</td>
      <td>125.5072</td>
      <td>26.41</td>
      <td>78</td>
      <td>99</td>
      <td>8.11</td>
    </tr>
    <tr>
      <th>kouroussa</th>
      <td>GN</td>
      <td>1612079614</td>
      <td>10.6500</td>
      <td>-9.8833</td>
      <td>19.24</td>
      <td>25</td>
      <td>13</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>la palma</th>
      <td>US</td>
      <td>1612079614</td>
      <td>33.8464</td>
      <td>-118.0467</td>
      <td>11.67</td>
      <td>76</td>
      <td>1</td>
      <td>1.82</td>
    </tr>
    <tr>
      <th>anadyr</th>
      <td>RU</td>
      <td>1612079131</td>
      <td>64.7500</td>
      <td>177.4833</td>
      <td>-20.00</td>
      <td>84</td>
      <td>75</td>
      <td>9.00</td>
    </tr>
    <tr>
      <th>tahta</th>
      <td>EG</td>
      <td>1612079372</td>
      <td>26.7693</td>
      <td>31.5021</td>
      <td>13.00</td>
      <td>44</td>
      <td>0</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th>faya</th>
      <td>SA</td>
      <td>1612079614</td>
      <td>18.3851</td>
      <td>42.4509</td>
      <td>21.00</td>
      <td>26</td>
      <td>0</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th>chakulia</th>
      <td>IN</td>
      <td>1612079615</td>
      <td>22.4833</td>
      <td>86.7167</td>
      <td>23.00</td>
      <td>18</td>
      <td>0</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th>stamford</th>
      <td>US</td>
      <td>1612079615</td>
      <td>41.0534</td>
      <td>-73.5387</td>
      <td>-7.22</td>
      <td>62</td>
      <td>1</td>
      <td>3.60</td>
    </tr>
    <tr>
      <th>chimoio</th>
      <td>MZ</td>
      <td>1612079615</td>
      <td>-19.1164</td>
      <td>33.4833</td>
      <td>26.15</td>
      <td>78</td>
      <td>89</td>
      <td>1.49</td>
    </tr>
    <tr>
      <th>karasjok</th>
      <td>NO</td>
      <td>1612079615</td>
      <td>69.4719</td>
      <td>25.5112</td>
      <td>-6.00</td>
      <td>93</td>
      <td>90</td>
      <td>4.12</td>
    </tr>
    <tr>
      <th>pran buri</th>
      <td>TH</td>
      <td>1612079615</td>
      <td>12.3847</td>
      <td>99.9098</td>
      <td>29.00</td>
      <td>61</td>
      <td>5</td>
      <td>4.12</td>
    </tr>
    <tr>
      <th>ginir</th>
      <td>ET</td>
      <td>1612079332</td>
      <td>7.1333</td>
      <td>40.7000</td>
      <td>22.11</td>
      <td>22</td>
      <td>37</td>
      <td>3.56</td>
    </tr>
    <tr>
      <th>ravar</th>
      <td>IR</td>
      <td>1612079615</td>
      <td>31.2656</td>
      <td>56.8055</td>
      <td>16.23</td>
      <td>29</td>
      <td>0</td>
      <td>0.35</td>
    </tr>
    <tr>
      <th>gamboma</th>
      <td>CG</td>
      <td>1612079615</td>
      <td>-1.8764</td>
      <td>15.8644</td>
      <td>24.04</td>
      <td>78</td>
      <td>100</td>
      <td>1.55</td>
    </tr>
    <tr>
      <th>ust-tsilma</th>
      <td>RU</td>
      <td>1612079616</td>
      <td>65.4410</td>
      <td>52.1498</td>
      <td>-9.65</td>
      <td>95</td>
      <td>99</td>
      <td>3.97</td>
    </tr>
    <tr>
      <th>kailahun</th>
      <td>SL</td>
      <td>1612079616</td>
      <td>8.2833</td>
      <td>-10.5667</td>
      <td>21.23</td>
      <td>91</td>
      <td>43</td>
      <td>0.48</td>
    </tr>
    <tr>
      <th>copiapo</th>
      <td>CL</td>
      <td>1612079376</td>
      <td>-27.3667</td>
      <td>-70.3333</td>
      <td>17.00</td>
      <td>88</td>
      <td>90</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th>pottsville</th>
      <td>US</td>
      <td>1612079616</td>
      <td>40.6857</td>
      <td>-76.1955</td>
      <td>-5.56</td>
      <td>78</td>
      <td>100</td>
      <td>1.42</td>
    </tr>
    <tr>
      <th>basti</th>
      <td>IN</td>
      <td>1612079616</td>
      <td>26.8000</td>
      <td>82.7167</td>
      <td>20.59</td>
      <td>33</td>
      <td>0</td>
      <td>2.27</td>
    </tr>
    <tr>
      <th>ponta do sol</th>
      <td>PT</td>
      <td>1612079616</td>
      <td>32.6667</td>
      <td>-17.1000</td>
      <td>13.89</td>
      <td>75</td>
      <td>1</td>
      <td>1.34</td>
    </tr>
    <tr>
      <th>gat</th>
      <td>IL</td>
      <td>1612079616</td>
      <td>31.6100</td>
      <td>34.7642</td>
      <td>17.22</td>
      <td>50</td>
      <td>0</td>
      <td>1.34</td>
    </tr>
    <tr>
      <th>zamosc</th>
      <td>PL</td>
      <td>1612079617</td>
      <td>50.7231</td>
      <td>23.2520</td>
      <td>-4.00</td>
      <td>86</td>
      <td>75</td>
      <td>3.09</td>
    </tr>
    <tr>
      <th>zyryanskoye</th>
      <td>RU</td>
      <td>1612079617</td>
      <td>56.8306</td>
      <td>86.6258</td>
      <td>-25.25</td>
      <td>86</td>
      <td>92</td>
      <td>3.53</td>
    </tr>
    <tr>
      <th>moree</th>
      <td>AU</td>
      <td>1612079617</td>
      <td>-29.4667</td>
      <td>149.8500</td>
      <td>36.00</td>
      <td>21</td>
      <td>32</td>
      <td>5.66</td>
    </tr>
    <tr>
      <th>stabat</th>
      <td>ID</td>
      <td>1612079617</td>
      <td>3.7610</td>
      <td>98.4513</td>
      <td>29.00</td>
      <td>84</td>
      <td>75</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th>srandakan</th>
      <td>ID</td>
      <td>1612079617</td>
      <td>-7.9386</td>
      <td>110.2506</td>
      <td>29.35</td>
      <td>68</td>
      <td>100</td>
      <td>3.59</td>
    </tr>
    <tr>
      <th>sindor</th>
      <td>RU</td>
      <td>1612079618</td>
      <td>62.8629</td>
      <td>51.8905</td>
      <td>-7.07</td>
      <td>96</td>
      <td>100</td>
      <td>3.93</td>
    </tr>
    <tr>
      <th>kishtwar</th>
      <td>IN</td>
      <td>1612079618</td>
      <td>33.3167</td>
      <td>75.7667</td>
      <td>13.43</td>
      <td>31</td>
      <td>0</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th>zyryanka</th>
      <td>RU</td>
      <td>1612079618</td>
      <td>65.7500</td>
      <td>150.8500</td>
      <td>-32.76</td>
      <td>84</td>
      <td>100</td>
      <td>7.51</td>
    </tr>
    <tr>
      <th>vestmannaeyjar</th>
      <td>IS</td>
      <td>1612079618</td>
      <td>63.4427</td>
      <td>-20.2734</td>
      <td>-0.75</td>
      <td>92</td>
      <td>100</td>
      <td>7.51</td>
    </tr>
    <tr>
      <th>cheremukhovo</th>
      <td>RU</td>
      <td>1612079618</td>
      <td>60.3484</td>
      <td>59.9851</td>
      <td>-18.85</td>
      <td>91</td>
      <td>97</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>prieska</th>
      <td>ZA</td>
      <td>1612079618</td>
      <td>-29.6641</td>
      <td>22.7474</td>
      <td>29.33</td>
      <td>13</td>
      <td>0</td>
      <td>2.59</td>
    </tr>
    <tr>
      <th>fria</th>
      <td>GN</td>
      <td>1612079618</td>
      <td>10.4167</td>
      <td>-13.5833</td>
      <td>19.32</td>
      <td>80</td>
      <td>100</td>
      <td>0.84</td>
    </tr>
  </tbody>
</table>

In [6]:
  
# write html to file 
text_file = open("Data Table.html", "w") 
text_file.write(html) 
text_file.close()